html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#video {

  width: -webkit-fill-available;
  object-fit: contain;
  overflow-clip-margin: content-box;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

}

#title {
  position: absolute;
  z-index: 1;
  margin-top: 20vw;
  width: 100vw;
  height: 30vw;
  font-size: 5vw;
}

#head-line {
  background-color: palegreen;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#our-story {
  display: flex;
  justify-content: center;
  margin: 2vw;
  text-decoration: underline;
  background-color: palegreen;
  border-radius: 70%;
  font-size: 2vw;
  width: 10vw;
  margin-left: 46vw;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}


#our-products {
  display: flex;
  justify-content: center;
  margin: 2vw;
  text-decoration: underline;
  background-color: palegreen;
  border-radius: 70%;
  font-size: 2vw;
  width: 15vw;
  margin-left: 45vw;
}

#line-break1 {
  color: black;
  border-color: black;
}

#line-break2 {
  color: black;
  border-color: black;
}

#line-break3 {
  color: black;
  border-color: black;
}

#line-break4 {
  color: black;
  border-color: black;
}

#line-break5 {
  color: black;
  border-color: black;
}

#line-break6 {
  color: black;
  border-color: black;
}

#main-section {
  display: grid;

  column-gap: 3vw;
  row-gap: 3vw;
  background-image: url(./assets/woods\ 3.jpg);
  grid-template-areas:
    'products products products'
    'products products products';
  z-index: 1;
}

.products {
  box-shadow: -1px 2px 15px 9px rgba(0, 0, 0, 0.23);
  border-radius: 15%;
  width: 30vw;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.365);
}

.images {
  width: 20vw;
  height: 20vw;
  margin: 4vw;
}

.images:hover {
  transform: scale(1.2);
}

#svges {
  display: flex;
  justify-content: center;
}

.svges :hover {
  transform: translateY(-1px);
}

#contact-us {
  margin-left: 2vw;
  border-radius: 70%;
  background-color: palegreen;
  margin-top: 0.5vw;
  font-size: 2vw;
}

.sub-products {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.2rem;
  flex-direction: column;
  align-items: center;
}

.dis-of-product {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 2vw;
}

.buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-products a {
  font-size: 1.4rem;
  text-decoration: none;
  background-color: palegreen;
  padding: 0.3rem 1.1rem;
  border-radius: 15px;
  color: white;
}

i {
  font-size: 3vw;
}

i:hover {
  transform: translateY(-0.5vw);
}

h1 {
  font-size: 5.25vmin;
  text-align: center;
  color: white;
}

p {
  font-size: max(10pt, 2.5vmin);
  line-height: 1.4;
  color: #0e390e;
  margin-bottom: 1.5rem;
}

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 85vmin;
  height: 25em;
  border: 8px solid;
  border-image: linear-gradient(-50deg, green, #00b300, forestgreen, green, lightgreen, #00e600, green) 1;
  margin: 2rem auto;
  transition: .3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem .75rem;
  background: #186218;
  transition: .4s ease-in-out;
  z-index: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vmin;
  height: 100%;
  padding: .5rem 0 0 .5rem;
  border: 3px solid;
  border-image:
    linear-gradient(to bottom,
      #AEA724 5%,
      forestgreen 35% 65%,
      #AEA724 95%) 0 0 0 100%;
  transition: .3s ease-in-out .2s;
  z-index: 1;
}

.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("https://assets.codepen.io/4787486/trees.png");
  background-size: cover;
  transition: .3s ease-in-out;

}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: .3s ease-in-out .3s;
}

.dot {
  width: 14px;
  height: 14px;
  background: yellow;
  border: 1px solid indigo;
  border-radius: 50%;
  transition: .3s ease-in-out .3s;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
  overflow-y: scroll;
}

.wrap:hover .overlay {
  transform: translateX(-60vmin);
}

.wrap:hover .image-content {
  width: 30vmin;
}

.wrap:hover .overlay-content {
  border: none;
  transition-delay: .2s;
  transform: translateX(60vmin);
}

.wrap:hover .dots {
  transform: translateX(1rem);
}

.wrap:hover .dots .dot {
  background: white;
}



.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}


.pop {
  animation-name: pop;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


.slide {
  animation-name: slide;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.slide-left {
  animation-name: slide-left;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {
  animation-name: slide-up;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

.delay-6 {
  animation-delay: 1.8s;
}

.delay-7 {
  animation-delay: 2.1s;
}

.delay-8 {
  animation-delay: 2.4s;
}

#card {
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main-section {
    grid-template-areas: 'products'
      'products'
      'products'
      'products'
      'products'
      'products';
    justify-content: center;

  }

  .products {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}